html {
  font-size: 62.5%;
}
body {
  font-family: "DM Sans", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
h1,
h2,
span {
  font-family: "DM Serif Display", serif;
  font-weight: normal;
  text-align: center;
}
h1 {
  font-size: 4.8rem;
  line-height: 5.6rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 4.9rem;
}
h4 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: 0.12em;
}
span {
  font-size: 22rem;
  line-height: 5.6rem;
  color: $main-pink;
}
p.logo-text {
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: 0.28em;
}
footer p.logo-text {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}
p.hero-subheader,
p.pricing-text,
p.how-step-1-info,
p.how-step-2-info,
p.how-step-3-info {
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: 0.01em;
}
p.pricing-price {
  font-size: 4.4rem;
  line-height: 5.7rem;
  letter-spacing: 0.12em;
}
p.social-text {
  font-size: 2.6rem;
  line-height: 3.4rem;
  letter-spacing: 0.01em;
}

.btn {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2.1rem;
  letter-spacing: 0.12em;
}
.main-navbar a {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.16em;
}
footer .links a,
.navbar-credits {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.12em;
}
