* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.btn {
  border-radius: 300px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: 4px solid #ef8094;
  text-transform: uppercase; }

.nav-btn {
  border: 2px solid #4a4a4a;
  padding: 0.9rem 3rem; }

.hero-btn,
.how-btn {
  background: white; }

.hero-btn {
  padding-right: 3.9rem;
  padding-left: 3.9rem; }

.how-btn {
  padding-right: 3.6rem;
  padding-left: 3.6rem; }

.pricing-btn,
.social-btn {
  color: white;
  background: #ef8094; }

.pricing-btn {
  padding-right: 1.9rem;
  padding-left: 1.9rem; }

.social-btn {
  padding-right: 3.2rem;
  padding-left: 3.2rem;
  margin-top: 12rem; }

html {
  font-size: 62.5%; }

body {
  font-family: "DM Sans", sans-serif; }

a {
  text-decoration: none;
  color: black; }

ul {
  list-style: none; }

h1,
h2,
span {
  font-family: "DM Serif Display", serif;
  font-weight: normal;
  text-align: center; }

h1 {
  font-size: 4.8rem;
  line-height: 5.6rem; }

h2 {
  font-size: 3.6rem;
  line-height: 4.9rem; }

h4 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: 0.12em; }

span {
  font-size: 22rem;
  line-height: 5.6rem;
  color: #ef8094; }

p.logo-text {
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: 0.28em; }

footer p.logo-text {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: 0.18em;
  text-transform: uppercase; }

p.hero-subheader,
p.pricing-text,
p.how-step-1-info,
p.how-step-2-info,
p.how-step-3-info {
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: 0.01em; }

p.pricing-price {
  font-size: 4.4rem;
  line-height: 5.7rem;
  letter-spacing: 0.12em; }

p.social-text {
  font-size: 2.6rem;
  line-height: 3.4rem;
  letter-spacing: 0.01em; }

.btn {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2.1rem;
  letter-spacing: 0.12em; }

.main-navbar a {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.16em; }

footer .links a,
.navbar-credits {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.12em; }

header {
  position: sticky;
  top: 0;
  z-index: 100; }

.image {
  background: white;
  font-size: 0; }

.image img {
  width: 100%; }

.main-navbar {
  padding: 1.6rem 8%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white; }

.main-navbar ul {
  display: flex;
  align-items: center;
  gap: 4.05rem; }

.main-navbar a {
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 0.3s; }

.main-nav a:hover {
  color: #777; }

.main-navbar .logo a {
  display: flex;
  align-items: center;
  gap: 1.6rem; }

.main-navbar img {
  width: 5.6rem;
  height: 5.6rem;
  display: inline-block; }

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none; }

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333; }

.icon-mobile-nav[name="close-outline"] {
  display: none; }

#hero {
  background: #f5f8ff;
  height: 545px;
  overflow: hidden;
  position: relative; }

.hero-header {
  text-align: start; }

.hero-img {
  width: 65%;
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 1; }

.hero-marker {
  width: 15%;
  position: absolute;
  top: 66.5px;
  right: 5.5%;
  z-index: 0; }

.hero-text {
  height: 100%;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 111px;
  align-items: baseline; }

.hero-subheader {
  margin-top: 1.9rem;
  margin-bottom: 3rem; }

#hero a:hover,
#how a:hover,
footer a:hover {
  color: #777; }

#pricing {
  padding-top: 7.1rem; }

.pricing-hr {
  background: url("../img/underline.png") no-repeat top center;
  height: 17px;
  display: block;
  border: 0; }

.pricing-plans {
  display: flex;
  justify-content: space-around;
  padding-top: 4.5rem; }

.pricing-plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border: 4px solid #c4c4c450; }

.pricing-plan:first-child {
  background: url("../img/Mask_Group.png") center no-repeat;
  background-size: cover; }

.pricing-plan:last-child {
  background: url("../img/Mask_Group2.png") center no-repeat;
  background-size: cover; }

.pricing-btn {
  margin-top: 2rem; }

.pricing-btn:hover,
.social-btn:hover {
  background: #f198a8; }

.btn:hover {
  border: 4px solid #f198a8; }

.nav-btn:hover {
  border: 2px solid #777; }

.pricing-text {
  text-align: center;
  padding-top: 4.3rem;
  padding-bottom: 6rem; }

.how-hr {
  background: url("../img/underline2.png") no-repeat top center;
  height: 17px;
  display: block;
  border: 0; }

.how-step-1 {
  display: flex;
  width: 858px;
  margin-left: 12.1rem;
  margin-top: 7rem; }

.how-step-1-image {
  position: relative;
  width: 411px;
  height: 405px; }

.how-step-1-number {
  position: absolute;
  z-index: 2;
  top: 101px;
  left: 114px; }

.how-step-1-photo {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 88px; }

.how-step-1-marker {
  position: absolute; }

.how-step-1-text {
  width: 440px;
  padding-left: 4rem;
  padding-top: 6.5rem; }

.how-step-1-text h2 {
  text-align: start;
  margin-bottom: 2rem; }

.how-step-2 {
  display: flex;
  flex-direction: column;
  margin-top: 3.4rem;
  margin-right: 16rem;
  margin-left: auto;
  width: 590px; }

.how-step-2-image {
  position: relative;
  height: 375px; }

.how-step-2-number {
  position: absolute;
  z-index: 3;
  bottom: 0; }

.how-step-2-photo {
  position: absolute;
  top: 8.5rem;
  left: 6.8rem;
  z-index: 2; }

.how-step-2-marker {
  position: absolute;
  z-index: 1;
  top: 12.7rem; }

.how-step-2-vector {
  position: absolute;
  top: 1.6rem;
  right: 0; }

.how-step-2-text {
  padding-left: 14.7rem; }

h2.how-step-2-header {
  padding-top: 1rem;
  text-align: start;
  margin-bottom: 2rem; }

.how-step-3 {
  display: flex;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  width: 828px; }

.how-step-3-image {
  position: relative;
  height: 415px;
  width: 370px; }

.how-step-3-number {
  position: absolute;
  top: 9.4rem;
  z-index: 2; }

.how-step-3-photo {
  position: absolute;
  z-index: 1; }

.how-step-3-marker {
  position: absolute;
  bottom: 0;
  left: 20.9rem; }

.how-step-3-text {
  width: 460px;
  padding-top: 8.3rem; }

h2.how-step-3-header {
  text-align: start;
  margin-bottom: 2rem; }

.btn-wrap {
  margin: 0 auto;
  margin-top: 12rem;
  margin-bottom: 9.4rem;
  width: fit-content; }

#social {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  background: #f5f8ff;
  padding-bottom: 12.4rem; }

.social-header {
  padding-top: 10rem; }

.social-posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.4rem;
  padding-top: 6rem; }

.social-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.social-img {
  width: 100%; }

.social-text {
  padding-top: 3.1rem; }

#social .btn-wrap {
  margin-bottom: 0; }

footer {
  margin: 3rem;
  border: 2px solid #c4c4c460;
  background: #eeeeee60; }
  footer .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8.5rem;
    padding-top: 4.4rem;
    padding-bottom: 6.1rem; }
    footer .navbar .logo a {
      display: flex;
      gap: 1.2rem;
      align-items: center; }
    footer .navbar img {
      display: inline-block;
      width: 38px;
      height: 38px; }
    footer .navbar nav ul {
      display: flex;
      gap: 3.1rem; }
      footer .navbar nav ul img {
        width: 26px;
        height: 26px; }
  footer .links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 4.6rem;
    justify-content: space-between; }
    footer .links h4 {
      padding-bottom: 2.2rem; }
    footer .links li {
      padding-bottom: 1.5rem; }
  footer .navbar-credits {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
    justify-content: space-between;
    padding: 3rem 8rem;
    border-top: 2px solid #c4c4c460; }
    footer .navbar-credits .credits-links a:last-child {
      margin-left: 3.6rem; }

@media (max-width: 1050px) {
  .main-navbar img {
    width: 3.7rem;
    height: 3.7rem; }
  p.logo-text {
    font-size: 2rem; }
  .main-navbar a {
    font-size: 1rem;
    line-height: 1.3rem; }
  #hero {
    height: 550px; }
  .hero-text {
    height: 100%;
    width: 364px;
    justify-content: flex-start;
    margin-left: 4rem; }
  .hero-header {
    padding-top: 1.8rem;
    font-size: 4.2rem; }
  .btn {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem; }
  .how-step-1 {
    margin-left: 6rem; }
  .how-step-2 {
    margin-right: 5%; }
  .hero-img {
    width: 100%;
    top: 65px;
    left: 15%; }
  .hero-marker {
    display: none; }
  p.social-text {
    font-size: 2rem;
    line-height: 2.6rem; } }

@media (max-width: 930px) {
  .main-navbar ul {
    gap: 3rem; }
  .how-step-1 {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 100%; }
  .how-step-1-image {
    width: 320px;
    transform: scale(0.7) translate(-2rem, -2rem); }
  .how-step-2-image {
    height: 300px;
    transform: scale(0.7); }
  .how-step-3 {
    width: 100%;
    margin-top: 2rem; }
  .how-step-3-image {
    width: 300px;
    transform: scale(0.7) translate(-2rem, -4rem); }
  .how-step-2-number {
    bottom: -80px;
    left: -40px; }
  .btn-wrap {
    margin-top: 0; }
  #social .btn-wrap {
    margin-top: 12rem; }
  .social-posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  footer .links {
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    row-gap: 2.4rem; } }

@media (max-width: 860px) {
  .main-navbar {
    padding: 1.6rem 4%; }
  .hero-img {
    width: 100%;
    top: 120px;
    left: 15%; }
  p.hero-subheader {
    font-size: 1.4rem;
    line-height: 1.8rem; }
  footer .navbar-credits {
    grid-template-columns: repeat(2, auto);
    align-items: flex-start; }
  .credits {
    order: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%; } }

@media (max-width: 700px) {
  .btn-mobile-nav {
    display: block;
    z-index: 1000;
    width: 48px;
    height: 48px; }
  .main-nav {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease-in;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%); }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0); }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block; }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none; }
  .main-nav ul {
    flex-direction: column;
    gap: 4.8rem; }
  .main-navbar a {
    font-size: 2rem; }
  #hero {
    height: 700px; }
  .hero-text {
    width: 100%;
    height: auto;
    margin-left: 0;
    padding-left: 4rem;
    padding-right: 4rem; }
  .hero-img {
    position: static; }
  .hero-header {
    font-size: 4.8rem;
    line-height: 5.6rem; }
  p.hero-subheader {
    font-size: 1.8rem;
    line-height: 2.3rem; }
  .pricing-plans {
    flex-direction: column;
    align-items: center;
    gap: 1.9rem; }
  .pricing-plan {
    width: 90%; }
  p.pricing-text {
    padding-right: 3rem;
    padding-left: 3rem;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.8rem; }
  .how-step-1 {
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: auto; }
  .how-step-1-image {
    width: 323px;
    height: 390px;
    transform: none; }
  .how-step-1-photo {
    right: auto;
    left: auto; }
  .how-step-1-marker {
    left: -3rem; }
  .how-step-1-number {
    left: 24px; }
  .how-step-1-text {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem; }
  .how-step-2 {
    width: 100%; }
  .how-step-2-number {
    transform: scale(1.3); }
  .how-step-2-text {
    padding-left: 12rem;
    padding-right: 3rem; }
  .how-step-3 {
    flex-direction: column;
    align-items: center;
    margin-top: 8rem; }
  .how-step-3-image {
    transform: none; }
  .how-step-3-text {
    width: 100%;
    padding-top: 6.5rem;
    padding-left: 3rem;
    padding-right: 3rem; }
  #how .btn-wrap {
    margin-top: 10rem; }
  #social {
    padding-left: 3rem;
    padding-right: 3rem; }
  .social-posts {
    grid-template-columns: repeat(1, 1fr); }
  .social-btn {
    padding-right: 1.2rem;
    padding-left: 1.2rem; }
  footer .links {
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 3rem;
    row-gap: 2.4rem; }
  footer .links a,
  footer h4,
  .navbar-credits {
    font-size: 1.2rem;
    line-height: 1.6rem; }
  footer nav {
    display: none; }
  footer .navbar {
    padding-left: 3rem; }
  footer .navbar-credits {
    padding-left: 3rem;
    padding-right: 3rem; } }
